<!DOCTYPE html>
{% extends "layout.html" %}

{% block content %}

<h1>Miembros del server</h1>

<div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
    <div class="card-header">AngelCE22a</div>
    <div class="card-body">
        
    </div>
  </div>
  <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
    <div class="card-header">Knightclaren741</div>
    <div class="card-body">
      
    </div>
  </div>
  <div class="card text-dark bg-info mb-3" style="max-width: 18rem;">
    <div class="card-header">_cherso_</div>
    <div class="card-body">
      
    </div>
  </div>
{% endblock%}
